<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Sat May 31 2014 14:42:09 GMT+0000 (UTC) -->
<html data-wf-site="5389e07df1be1a7a7f4e201d">
<head>
  <meta charset="utf-8">
  <title>ACFB</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Webflow">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/acfb.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Roboto:300,regular,500","Roboto Condensed:300,regular,700","Roboto Slab:300,regular,700","Arbutus Slab:regular"]
      }
    });
  </script>
  <script type="text/javascript" src="js/modernizr.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="images/New%20icon.ico">
  <link rel="apple-touch-icon" href="images/metric-webclip.png">
</head>
<body>
  
  <div class="w-slider slider" data-animation="slide" data-duration="500" data-infinite="1">
    <div class="w-slider-mask">
      <div class="w-slide slide _1">
        <div class="w-container"></div>
      </div>
      <div class="w-slide slide _2">
        <div class="w-container"></div>
      </div>
      <div class="w-slide slide _3">
        <div class="w-container"></div>
      </div>
    </div>
    <div class="w-slider-arrow-left">
      <div class="w-icon-slider-left"></div>
    </div>
    <div class="w-slider-arrow-right">
      <div class="w-icon-slider-right"></div>
    </div>
    <div class="w-slider-nav w-round"></div>
  </div>
  <div class="section main" id="top">
    <div class="w-container">
      <h1 class="main-heading">Find Food Help</h1>
      <p class="main-subtitle">We at the Atlanta Community Food Bank Partner with <%= Agency.all.count %> food kitchens and pantries around Metro Atlanta. Search below for a location near you.</p>
      <div class="w-form">
        <form id="email-form" name="email-form" data-name="Email Form">
          <div class="w-row">
            <div class="w-col w-col-10">
              <input class="w-input" id="name" type="text" placeholder="Enter Your Zip Code, City, or by address" name="name" data-name="Name">
            </div>
            <div class="w-col w-col-2">
              <input class="w-button button" type="submit" value="Search" data-wait="Please wait...">
            </div>
          </div>
        </form>
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form :(</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section" id="features">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6">
          <div class="w-widget w-widget-map" data-widget-latlng="33.748995,-84.387982" data-widget-style="roadmap" data-widget-zoom="12"></div>
        </div>
        <div class="w-col w-col-6">
          <div class="search-result">
            <h1>Grant Park Food Kitchen</h1>
            <div>379 Augusta Ave. SE&nbsp;
              <br>Atlanta, GA</div>
            <div>Phone:&nbsp;555-555-1122</div>
          </div>
          <div class="search-result">
            <h1>East Atlanta Food Kitchen</h1>
            <div>379 Augusta Ave. SE&nbsp;
              <br>Atlanta, GA</div>
            <div>Phone:&nbsp;555-555-1122</div>
          </div>
          <div class="search-result">
            <h1>Capital View Food Kitchen</h1>
            <div>379 Augusta Ave. SE&nbsp;
              <br>Atlanta, GA</div>
            <div>Phone:&nbsp;555-555-1122</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section" id="customers">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6 cta-column">
          <h1>Are you a food agency that wants to list on the ACFB agency list?</h1><br><a class="button" href="#">Register Now</a>
        </div>
        <div class="w-col w-col-6">
          <h1>Not sure if you are eligible for food help?</h1><br><a class="button" href="#">Learn More</a>
        </div>
      </div>
    </div>
  </div>
 
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>
