<p><%= @greeting %></p>

<p>
  A new agency has joined the team! There information is now available online: <%= link_to "#{@agency.name}", agency_url(@agency) %>
</p>

<p>Keep 'em Fed,</p>
<p>Atlanta Community Food Bank</p>
