.input {
	padding-top: 10px;
	padding-bottom: 10px;
}

h1 {
	font-weight: 600;
}

.full_width {
	width: 100%;
}


.navbar-default {
	border: none;
	.navbar-nav > li > a {
		padding-top: 27px;
		padding-bottom: 27px;
	}
}

.input-group {
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
	.search_input.form-control {
		margin-top: 0px;
		font-size: 25px;
		border-radius: 4px;
		border: none;
		padding: 25px 20px;
		color: #000;
	}
	.input-group-btn:last-child > .btn {
		padding: 15px;
		border: none;
	}
}

.main-subtitle {
	font-size: 20px;
	max-width: 630px;
	margin-left: auto;
	margin-right: auto;
	line-height: 28px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.navbar-brand {
	img {
		max-width: 150px;
	}
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="file"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #FFF;
	background-image: none;
	border: 1px solid #CCC;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  &:focus {
    border: 1px solid;
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
    box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
  }
}

.form_wrapper {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	&.user {
		max-width: 250px;
	}
}

.update_box {
	background: #E2E2E2;
	padding: 10px;
	max-width: 400px;
	border-radius: 4px;
	margin-bottom: 10px;
}

#agency_home {
	height: 300px;
	margin-top: -20px;
	border-bottom: 2px solid #8F8F8F;
}

.agency_logo {
	border: 1px solid #8F8F8F;
	max-width: 236px;
	margin-bottom: 20px;
	img {
		border: 5px solid #FFF;
	}
}

.agency_actions {
	margin: 10px 0px 30px;
}

.agency_info {
	margin-top: -115px;
}

.agency_name_heading {
	margin-top: 135px;
}

.agency_address {
	font-size: 18px;
	line-height: 22px;
}

.agency_contact {
	background-color: #e6e6e6;
	padding: 10px;
	h2 {
		font-size: 25px;
		margin-top: 10px;
	}
}

.dropdown-menu > li > a {
	display: block;
	padding: 13px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
}

.btn.btn-primary.btn-block.btn-lg.agency_action_btn {
	padding: 15px;
	font-size: 20px;
	text-transform: uppercase;
}

.background_white {
	background-color: white;
}

#home_header {
	h1 {
		font-size: 45px;
	}
	background-color: rgba(10, 51, 112, 0.67);
	text-align: center;
	padding: 40px 10px 60px;
	color: #FFF;
	margin-top: -20px;
	border-bottom: 2px solid #667;
}

.united_way {
	background-color: #E2E2E2;
	padding: 70px;
	margin-bottom: -50px;
	margin-top: 40px;
	h2 {
		margin-top:0px;
	}
}

.search_input {
	font-size: 25px;
	border-radius: 4px;
	border: none;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 10px 20px;
	color: #000;
}

.search_results {
	margin: 50px 0px;
}

.agency_search_result {
	background-color: #E2E2E2;
	padding: 20px;
	margin-bottom: 10px;
	width: 100%;
	h2 {
		margin-top: 0px;
		font-size: 22px;
	}
}